@grid-column-count:         12;
@grid-gutter-width:         30px;

.grid {
    display: grid;
    grid-template-columns: repeat(@grid-column-count, 1fr);
    grid-gap: 0 @grid-gutter-width;
}

.grid.grid-reverse {
    direction: rtl;
}

.grid-condensed {
    grid-gap: 0 (@grid-gutter-width/2);
}

// Make Columns
.make-cols (@i) when (@i > 0) {
    .gcol-@{i} {
        grid-column: span ~"@{i}";
    }
    .make-cols(@i - 1);
}

// Make Responsive Columns
.grid-responsive-utilities() {
    .breakpoints-loop(@i: 1) when (@i <= length(@breakpoints)) {
      @breakpoint:       extract(@breakpoints, @i);
      @breakpoint-abbrv: extract(@breakpoint-abbrvs, @i);
      
      @media (min-width: @breakpoint) {
        .make-cols (@j) when (@j > 0) {
            .gcol-@{breakpoint-abbrv}-@{j} {
                grid-column: span ~"@{j}";
            }
            .make-cols(@j - 1);
        }
        .make-cols (@grid-column-count);
      }
      .breakpoints-loop(@i + 1);
    }
    .breakpoints-loop;
  }

.make-cols (@grid-column-count);
.grid-responsive-utilities();