.floating {
    display: flex;
    align-items: center;
    justify-content: center;
}

.floating-item {
    // max-width: 50%;
}

.floating-item--top {
    align-self: flex-start;
}

.floating-item--bottom {
    align-self: flex-end;
}